.foundation
library/Zend/
library/Symfony/
.buildpath
.project
.settings/
nbproject
tests/reports
*.phar
/library/.fr-6ayG1u/
/library/.fr-n9BajN/
*.7z
*.jar
*.rar
*.zip
*.gz
*.bzip
*.xz
*.lzma
*.iso
*.tar
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm
*.tgz
