site_name: Respect\Validation
theme: readthedocs

plugins:
  - search
  - mkdocs-nav-weight:
      index_weight: -100
      default_page_weight: -50

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.superfences
