<?xml version="1.0"?>
<ruleset
    name="PHPCS Coding Standards for Respect"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd"
>
    <arg name="basepath" value="." />
    <arg name="cache" value=".phpcs.cache" />
    <arg name="colors" />
    <arg name="extensions" value="php,phpt" />
    <arg value="p" />
    <arg value="s" />

    <file>src/</file>
    <file>src-dev/</file>
    <file>tests/</file>

    <rule ref="Respect" />

    <!-- Exclusions -->
    <rule ref="Squiz.Arrays.ArrayDeclaration.ValueNoNewline">
        <exclude-pattern>src/Validators/Tld.php</exclude-pattern>
    </rule>
    <rule ref="Squiz.Functions.GlobalFunction">
        <exclude-pattern>tests/Pest.php</exclude-pattern>
    </rule>
    <rule ref="Generic.Files.LineLength.TooLong">
        <exclude-pattern>src/Mixins/</exclude-pattern>
        <exclude-pattern>tests/feature/</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.Functions.StaticClosure.ClosureNotStatic">
        <exclude-pattern>tests/Pest.php</exclude-pattern>
        <exclude-pattern>tests/feature</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.Classes.ClassStructure">
        <exclude-pattern>tests/Pest.php</exclude-pattern>
        <exclude-pattern>tests/feature</exclude-pattern>
    </rule>
</ruleset>
