includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
  fileExtensions:
    - php
    - phpt
  checkGenericClassInNonGenericObjectType: false
  checkMissingIterableValueType: false
  ignoreErrors:
    -
      message: '/Ternary operator condition is always false\./'
      path: library/Helpers/CanValidateDateTime.php

    -
      message: '/Instanceof between mixed and SimpleXMLElement will always evaluate to false\./'
      path: library/Rules/ArrayVal.php

    -
      message: '/Return type \(SplObjectStorage\) of method Respect\\Validation\\Exceptions\\NestedValidationException::getIterator\(\)/'
      path: library/Exceptions/NestedValidationException.php

    -
      message: '/Call to an undefined static method Respect\\Validation\\Validator::iDoNotExistSoIShouldThrowException/'
      path: tests/unit/ValidatorTest.php

    -
      message: '/Call to static method PHPUnit\\Framework\\Assert::assertSame\(\) with Respect\\Validation\\Validator and Respect\\Validation\\ChainedValidator will always evaluate to false./'
      path: tests/unit/ValidatorTest.php
  level: 7
  paths:
    - library/
    - tests/
