includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
  fileExtensions:
    - php
    - phpt
  ignoreErrors:
    - '/Call to an undefined static method Respect\\Validation\\Validator::iDoNotExistSoIShouldThrowException/'
    - '/Parameter #2 $locale of function setlocale expects array|string|null, int given./'
  level: 6
  paths:
    - library/
    - tests/
