<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true">
  <testsuites>
    <testsuite name="unit">
      <directory suffix="Test.php">tests/unit/</directory>
    </testsuite>
    <testsuite name="integration">
      <directory suffix=".phpt">tests/integration/</directory>
    </testsuite>
  </testsuites>
  <coverage processUncoveredFiles="true" ignoreDeprecatedCodeUnits="true">
    <include>
        <directory suffix=".php">library/</directory>
    </include>
  </coverage>
</phpunit>
