<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         processIsolation="false"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false">
  <testsuites>
    <testsuite name="unit">
      <directory suffix="Test.php">tests/unit/</directory>
    </testsuite>
    <testsuite name="integration">
      <directory suffix=".phpt">tests/integration/</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">library/</directory>
    </include>
  </source>
</phpunit>
