name: Continuous Integration (docs)

on:
  push:
    paths-ignore:
      - 'data/**'
      - 'tests/**'
  pull_request:
    paths-ignore:
      - 'data/**'
      - 'tests/**'

jobs:
  docs:
    name: Documentation

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.5
          coverage: none

      - name: Install dependencies
        run: composer install --prefer-dist

      - name: Lint documentation files
        run: bin/console lint:docs
