name: REUSE

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  reuse-check:
    name: Compliance Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-action
        with:
          python-version: '3.x'
          python-deps: reuse

      - run: reuse lint
      - run: bin/console lint:spdx
