name: Auto-create Patch Version

on:
  push:
    branches:
      - "2.4"

permissions:
  contents: write

jobs:
  create-patch-version:
    name: Create Patch Version
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.message, 'Update Regional Information')

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch
          RELEASE_BRANCHES: ${{ github.ref_name }}
          TAG_CONTEXT: branch

